target/classes/com/example/model/Exercise.class
target/classes/com/example/model/Locations.class
target/classes/com/example/model/MongoDBConnect.class
target/classes/com/example/model/Posts.class
target/classes/com/example/model/Reviews.class
target/classes/com/example/model/User.class
target/classes/com/example/view/App.class
target/classes/com/example/view/DataFetchController.class
target/classes/com/example/view/PrimaryController.class
target/classes/com/example/view/SignUpPageController.class
target/classes/module-info.class
